<div ng-app="appsMod">
    <div class="appsBody" ng-click="showDropdown = false">
        <div class="toolBar">
            <div class="navBar">
                <div class="profileNavBar">
                    <span class="glyphicon glyphicon-user" style="font-size: 23px"><div id="profileNavBarText">Brad Ware</div></span>
                </div>
                <div class="workspaceNavBar">
                    <div class="btn-group">
                        <button type="button" style="height: 38px" class="btn btn-default dropdown-toggle" data-toggle="dropdown" 
                            ng-click="dropdownClicked()">
                            <span><a href="#/assets"><img src="/assetLib/img/icons/workspaceLamp.png"></a>
                                <p>Workspace</p>
                            </span>
                        </button>
                        <ul class="dropdown-menu" role="menu" ng-show="showDropdown">
                            <li><span><a href="#">
                                <p>Contact Apple Support</p></a></span>
                            </li>
                            <li><span><a href="#">
                                <p>iLog</p></a></span>
                            </li>
                            <li><span><a href="#/assets">
                                <p>PaymentPortal</p></a></span>
                            </li>
                            <li><span><a href="#">
                                <p>MobileGenius</p></a></span>
                            </li>
                            <li><span><a href="#">
                                <p>Enterprise</p></a></span>
                            </li>
                        </ul>
                    </div>
                </div>    
            </div>
            <div class="logout">
                <img src="/assetLib/img/icons/logout_black.png">
            </div>
        </div>
        <div class="question">
            <img src="/assetLib/img/icons/question_blue.png">
        </div>
        <div class="title">
            <p>
                <span><img src="/assetLib/img/icons/rainbowApple.png"><span id="iconfigText">iConfigurator2.0</span></span>
            </p>
            <div class="mission">
                <p>Coming soon to a monitor near you.</p>
            </div>
        </div>

        <div class="footer">
                <img src="/assetLib/img/icons/greyApple.png">
        </div>
    </div>
</div>
