
.blue {
    color: blue;
}

.glyphBlue {
	color: #1f1fad;
}

.red {
    color: red;
}

.black {
	color: #000;
}
.white {
	color: #ffffff;
}
.glyphicon {
	font-size: 1.6em;
}

.cellGlyphicon{ 
	font-size: 1em;
}

body {
	background-color: #efefef; /* #ececec */
}

.assettoolbar {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;

	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	-o-justify-content: space-around;
	justify-content: space-around;

	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-o-align-items: flex-end;
	align-items: flex-end;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	position: fixed;
	height: 38px;
	width: 100%;
	background: white;
	font-weight: 400;
	font-family: 'Helvetica', sans-serif;
	-webkit-box-shadow: 0px 0px 8px #c0c0c0;
	-moz-box-shadow: 0px 0px 8px #c0c0c0;
	-ms-box-shadow: 0px 0px 8px #c0c0c0;
	-o-box-shadow: 0px 0px 8px #c0c0c0;
	box-shadow: 0px 0px 8px #c0c0c0;
	z-index: 15;
}

#navLeft {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;

	-webkit-flex-shrink: 1;
	-moz-flex-shrink: 1;
	-ms-flex-shrink: 1;
	-o-flex-shrink: 1;
	flex-shrink: 1;

	margin-left: 5px;
}

.navBarLeftItem {
	float: left;
	margin-right: 15px;
	margin-bottom: 2px;
}

.navBarRightItem {
	float: right;
	margin-right: 15px;
	margin-bottom: 2px;
}

.navBarTextItem {
	margin-top: 7px;
}

#navCenter {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;

	-webkit-flex-shrink: 1;
	-moz-flex-shrink: 1;
	-ms-flex-shrink: 1;
	-o-flex-shrink: 1;
	flex-shrink: 1;
}

#navCenter p {
	margin-bottom: 0px;
	font-size: 1.7em;
	font-family: 'Myriad Set', sans-serif;
	text-align: center;
	font-weight: 200;
	font-color: #000000;
}

#iconfigText {
	margin-left: 5px;
}

#navCenter img {
	width: 26px;	/*35 */
	height: 30px;	/* 28 */
	margin-bottom: 7px;
}

#navRight {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;

	-webkit-flex-shrink: 1;
	-moz-flex-shrink: 1;
	-ms-flex-shrink: 1;
	-o-flex-shrink: 1;
	flex-shrink: 1;

	margin-right: 0px;

}

.tableToolbar {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;

	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;

	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-o-align-items: flex-end;
	align-items: flex-end;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	position: fixed;
	top: 50px;
    width: 96%;
    left: 2%;
    right: 2%;
    z-index: 12;
    border: 1px solid #c0c0c0;
    background-color: #435481;
    -webkit-box-shadow: 0px 0px 8px #c0c0c0;
	-moz-box-shadow: 0px 0px 8px #c0c0c0;
	-ms-box-shadow: 0px 0px 8px #c0c0c0;
	-o-box-shadow: 0px 0px 8px #c0c0c0;
    box-shadow: 0px 0px 8px #c0c0c0;
}

#tableToolbar-appName  {
	width: 105px;
	border-right: 1px solid #ffffff;
	background-color: #ffffff; /*#fcfcfc*/
}

.tableToolbar-title {
	position: relative;
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 175%;
	text-
	font-weight: 300;
	font-family: 'Helvetica', sans-serif;
	color: #000000;
}

.tableToolbar-title img {
	position: relative;
	margin: 5px;
	margin-top: -5px;
	float: left;
	width: 35px;
	height: 35px;
}

.tableToolbar-icons {
	padding: 0;
	margin-top: -5px;
	margin-left: -35px;
	height: 40px;
	float: left;
}

#toolBarMenu li{
	margin-top: 5px;
	margin-right: 5px;
	list-style: none;
	float: left;
}

.toolButton {
	background: transparent;
	border: none;
}

.newAsset {
	display: block;
	margin-left: 35px;
	margin-top: 40px;
	margin-bottom: 5px;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 2px #000000;
	-moz-box-shadow: 1px 1px 2px #000000;
	-ms-box-shadow: 1px 1px 2px #000000;
	-o-box-shadow: 1px 1px 2px #000000;
	box-shadow: 1px 1px 2px #000000;
	z-index: 10;
}

.newAssetForm {
	padding-top: 5px;
	margin: 10px;
	list-style: none;
	margin-right: 20px;
}

.formInput {
	margin-bottom: 15px;
}

.formInputButton {
	margin-left: 10px;
	margin-bottom: 10px;
}

.mainTable {
	position: fixed;
	width: 96%;
	top: 96px;
    left: 2%;
    right: 2%;
}

#table1 {
	-webkit-box-shadow: 0px 0px 8px #c0c0c0;
	-moz-box-shadow: 0px 0px 8px #c0c0c0;
	-ms-box-shadow: 0px 0px 8px #c0c0c0;
	-o-box-shadow: 0px 0px 8px #c0c0c0;
	box-shadow: 0px 0px 8px #c0c0c0;
	z-index: 8;
}

#table1 thead {
	border-left: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	width: 100%;
	background-color: #c7cbce;  /* #b2b7bc; */
	z-index: 8;
}

#table1 th {
	width: 20%;
	font-weight: normal;
	font-size: 1.1em;
	font-family: 'Helvetica', sans-serif;
}

#table1 tbody{
	position: fixed;
	font-family: 'Helvetica', sans-serif;
	border-top: 1px solid #c0c0c0;
	border-left: 1px solid #c0c0c0;
	border-bottom: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	top: 136px;
	overflow-y: scroll;
	height: 76.5%;  /* 76.5% */
	width: 96%;
	margin-left: -0.5px;  /* THIS IS NECESSARY */
	background-color: #ffffff;   /* #fcfcfc; */
	z-index: 5;
	-webkit-box-shadow: 0px 0px 8px #c0c0c0;
	-moz-box-shadow: 0px 0px 8px #c0c0c0;
	-ms-box-shadow: 0px 0px 8px #c0c0c0;
	-o-box-shadow: 0px 0px 8px #c0c0c0;
	box-shadow: 0px 0px 8px #c0c0c0;

}

.tableCell {
	width: 10%;
	text-align: center;
	border-top: 1px solid #c0c0c0;
	border-right: 1px solid #c0c0c0;
	z-index: 5;
}

.filters {
	margin-left: 15px;
	border: 1px solid black;
}

#checkBoxButton {
	background: transparent;
	border: none;
	width: 21px;
	height: 21px;
	margin-left: 5px;
}

#footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;

	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	-o-justify-content: space-around;
	justify-content: space-around;

	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-o-align-items: flex-end;
	align-items: flex-end;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	position: fixed;
	bottom: 0;
	width: 100%;
	height: 25px;
	font-size: 1.0em;
	font-family: 'Myriad Set', sans-serif;
	float: left;
	z-index: 15;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 8px #c0c0c0;
	-moz-box-shadow: 0px 0px 8px #c0c0c0;
	-ms-box-shadow: 0px 0px 8px #c0c0c0;
	-o-box-shadow: 0px 0px 8px #c0c0c0;
	box-shadow: 0px 0px 8px #c0c0c0;
}

.footerTitle img{
	display:inline-block;
	height: 20px;
	width: 20px;
	margin-bottom: 3px;
}
.footerTitle p {
	display: inline-block;
	height: 25px;
	margin: 0;
	line-height: 25px;
	font-weight: 300;
}
