
.blue {
    color: blue;
}

.red {
    color: red;
}

.black {
	color: #000;
}
.glyphicon {
	font-size: 1.6em;
}

.cellGlyphicon{ 
	font-size: 1em;
}

.assettoolbar {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;

	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	-o-justify-content: space-around;
	justify-content: space-around;

	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-o-align-items: flex-end;
	align-items: flex-end;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	position: fixed;
	height: 38px;
	width: 100%;
	background: white;
	font-weight: bold;
	border-bottom: 1px solid black;
	z-index: 15;
}

#navLeft {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;

	-webkit-flex-shrink: 1;
	-moz-flex-shrink: 1;
	-ms-flex-shrink: 1;
	-o-flex-shrink: 1;
	flex-shrink: 1;

	margin-left: 5px;
}

.navBarLeftItem {
	float: left;
	margin-right: 15px;
	margin-bottom: 2px;
}

.navBarRightItem {
	float: right;
	margin-right: 15px;
	margin-bottom: 2px;
}
.navBarCenterItem {
	text-align: center;
}

.navBarTextItem {
	margin-top: 7px;
}

#navCenter {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;

	-webkit-flex-shrink: 1;
	-moz-flex-shrink: 1;
	-ms-flex-shrink: 1;
	-o-flex-shrink: 1;
	flex-shrink: 1;

	font-size: 1.7em;
	font-family: 'Myriad Set', sans-serif;
}

#navCenter p {
	margin-bottom: 0px;
}

#navCenter img {
	width: 32px;
	height: 32px;
	margin-bottom: 3px;
}

#navRight {
	-webkit-flex-grow: 1;
	-moz-flex-grow: 1;
	-ms-flex-grow: 1;
	-o-flex-grow: 1;
	flex-grow: 1;

	-webkit-flex-shrink: 1;
	-moz-flex-shrink: 1;
	-ms-flex-shrink: 1;
	-o-flex-shrink: 1;
	flex-shrink: 1;

	margin-right: 5px;

}

.tableToolbar {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;

	-webkit-justify-content: flex-start;
	-moz-justify-content: flex-start;
	-ms-justify-content: flex-start;
	-o-justify-content: flex-start;
	justify-content: flex-start;

	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-o-align-items: flex-end;
	align-items: flex-end;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	position: fixed;
	top: 65px;
    width: 96%;
    left: 2%;
    right: 2%;
    z-index: 12;
    border: 2px solid black;
    background-color: #fff;
}

#tableToolbar-appName  {
	width: 120px;
	border-right: 2px solid black;
}

.tableToolbar-title {
	position: relative;
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 200%;
	font-weight: bold;
	font-family: 'Myriad Set', sans-serif;
}

.tableToolbar-title img {
	position: relative;
	margin: 5px;
	margin-top: -5px;
	float: left;
	width: 35px;
	height: 35px;
}

.tableToolbar-icons {
	padding: 0;
	margin-top: -5px;
	margin-left: -35px;
	height: 40px;
	float: left;
}

#toolBarMenu li{
	margin-top: 5px;
	margin-right: 5px;
	list-style: none;
	float: left;
}

.toolButton {
	background: transparent;
	border: none;
}

.newAsset {
	display: block;
	margin-left: 33px;
	margin-top: 40px;
	margin-bottom: 5px;
	border-bottom: 2px solid;
	border-right: 2px solid;
	border-left: 2px solid;
	border-top: 2px solid;
	background-color: #fff;
	z-index: 10;
}

.newAssetForm {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	list-style: none;
	margin-right: 20px;
}

.formInput {
	margin-bottom: 15px;
}

.formInputButton {
	margin-left: 10px;
	margin-bottom: 10px;
}

.mainTable {
	width: 96%;
	top: 114px;
    left: 2%;
    right: 2%;
    background-color: #fff;
    position: fixed;
    z-index: 8;
    height: 100%;
}

.tableCell {
	width: 25%;
	text-align: center;
}

#table2 thead {
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-bottom: 2px solid black;
	border-top: none;
	margin-right: -2px;
}

#table2 tbody{
	position: fixed;
	border: 2px solid black;
	top: 152px;
	overflow-y: scroll;
	height: 76.2%;
	width: 96%;
	margin-left: -1px;
}

#table2 .icons {
	width: 160px;
}

.filters {
	margin-left: 15px;
}

#checkBoxButton {
	background: transparent;
	border: none;
	width: 21px;
	height: 21px;
}

#footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;

	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: row;

	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	-ms-justify-content: space-around;
	-o-justify-content: space-around;
	justify-content: space-around;

	-webkit-align-items: flex-end;
	-moz-align-items: flex-end;
	-ms-align-items: flex-end;
	-o-align-items: flex-end;
	align-items: flex-end;

	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;

	position: fixed;
	bottom: 0;
	width: 100%;
	height: 25px;
	font-weight: bold;
	font-size: 1.0em;
	font-family: 'Myriad Set', sans-serif;
	border-top: 1px solid black;
	float: left;
	z-index: 15;
	background-color: #fff;
}

.footerTitle img{
	display:inline-block;
	height: 25px;
	width: 25px;
	margin-bottom: 5px;
}
.footerTitle p {
	display: inline-block;
	height: 25px;
	margin: 0;
	margin-left: -5px;
	line-height: 25px;
}
