<div ng-app="assetsMod">
    <div class="assettoolbar">
        <div id="navLeft">
            <p class="navBarLeftItem"><a href="#/apps"><button type="button" class="toolButton black"><span class="glyphicon         
                glyphicon-home"></button></span></a></p>
            <p class="navBarLeftItem glyphicon glyphicon-user"></p>  
            <p class="navBarLeftItem navBarTextItem">Mark As</p>
            <p class="navBarLeftItem navBarTextItem">Display</p> 
            <p class="navBarLeftItem navBarTextItem">Translation Status</p> 
        </div>
        <div id="navCenter">
            <p>
                <span><img src="/assetLib/img/icons/rainbowApple.png"><span id="iconfigText">iConfigurator2.0</span></span>
            </p>
        </div>
        <div id="navRight">
            <p class="navBarRightItem"><span class="glyphicon glyphicon-off red"></span></p>
            <p class="navBarRightItem glyphicon glyphicon-question-sign glyphBlue"></p>  
            <p class="navBarRightItem navBarTextItem">Application</p> 
            <p class="navBarRightItem navBarTextItem">Target Language</p>
            <p class="navBarRightItem navBarTextItem">Version</p>    
        </div>
    </div>
    <div ng-controller="assetsCtrl">
        <div class="assetBody">
            <div class="tableToolbar">
                <div id="tableToolbar-appName">
                    <h3 class="tableToolBar-title"><img src="assetLib/img/icons/applecare.png">PaymentPortal</h3>
                </div>
                <div class="tableToolBar-icons">
                        <ul id="toolBarMenu">
                            <li>
                                <button type="button" class="toolButton" ng-click="createAssetBool = !createAssetBool; newAsset.status = 'Not Translated'"><span class="glyphicon glyphicon-plus white"></span></button></li>
                            <li>
                                <button type="button" class="toolButton"><span class="glyphicon glyphicon-edit white"></span></button>
                            </li>
                            <li>
                                <button type="button" class="toolButton" ng-click="deleteManyAssets()"><span class="glyphicon   
                                    glyphicon-trash white"></span></button></li> 
                            <li>
                                <button type="button" class="toolButton"><span class="glyphicon glyphicon-upload white"></span></button>
                            </li>
                            <li>
                                <button type="button" class="toolButton"><span class="glyphicon glyphicon-download white"></span></button>
                            </li>
                            <li>
                                <button type="button" class="toolButton"><span class="glyphicon glyphicon-globe white"></span></button>
                            </li>
                            <li>
                                <button type="button" class="toolButton" ng-click="search = !search">
                                    <span class="glyphicon glyphicon-search white"></span></button>
                            </li>
                            <li>
                                <input class="filters" type="text" ng-show="search" ng-model="filteredText" placeholder="Search"/>
                            </li>
                            <li>
                                <input class="filters" type="text" ng-show="search" ng-model="rowLimit" placeholder="Rows per Page"/>
                            </li>
                        </ul>
                    <div class="newAsset" ng-model="newAsset" ng-show="createAssetBool">
                            <form class="simple-form newAssetForm">
                                <div class="formInput">Asset Name: <input type="text" ng-model="newAsset.name" required/></div>
                                <div class="formInput">Asset Description: <input type="text" ng-model="newAsset.description" required/></div>
                                <div class="formInput">Asset Status: <input type="radio" ng-model="newAsset.status" name="assetstatus" value    ="Not Translated" checked="true"/> Not Translated
                                    <input type="radio" ng-model="newAsset.status" name="assetstatus" value="Translated" /> Translated
                                    <input type="radio" ng-model="newAsset.status" name="assetstatus" value="In Progress"/> In Progress</div>
                                <div class="formInput">Asset Tags: <input type="text" ng-model="newAsset.tags"/></div>
                                <div class="formInput">Created By: <input type="text" ng-model="newAsset.created_by"/></div>
                                <button type="button" class="formInput toolButton addValue" ng-click="addValueBool = !addValueBool; newValue.status = 'Not Translated'"><span class="glyphicon glyphicon-plus"></span>Add Value</button>
                            </form>
                            <form class="simple-form newAssetForm" ng-show="addValueBool">
                                <div class="formInput">Value String: <input type="text" ng-model="newValue.string"/></div>
                                <div class="formInput">Value Status: <input type="radio" ng-model="newValue.status" name="valuestatus" value="Not Translated" checked="true"/> Not Translated
                                                <input type="radio" ng-model="newValue.status" name="valuestatus" value="Translated"/> Translated
                                                <input type="radio" ng-model="newValue.status" name="valuestatus" value="In Progress"/> In Progress<br/></div>
                                <div class="formInput">Locale Code:  <input type="text" ng-model="newValue.locale_code"/></div>
                                <div class="formInput">Created By:   <input type="text" ng-model="newValue.created_by"/></div>
                            </form>                
                        <div class="formInputButton"><button ng-show="createAssetBool" class="btn btn-primary btn-xs" ng-disabled="!validAsset(newAsset) || !validValue(newValue)" ng-click="createNewAsset(newAsset, newValue)">Save</button>
                        <button ng-show="createAssetBool" class="btn btn-danger btn-xs"  ng-click="resetNewAsset(newAsset)">Cancel</button></div>
                    </div>
                </div>
            </div>
            <div class="mainTable">
                 <table id="table1" ng-table="tableParams" class="table">
                    <tr ng-repeat="asset in data.assets | filter:filteredText |  limitTo:rowLimit">
                        <td class="tableCell" data-title="'Key'">
                            <span ng-show="!editAsset" class="tableValue">{{asset.name}}</span>
                            <div ng-show="editAsset"><input class="form-control" type="text" ng-model="asset.name"/></div>
                        </td>
                        <td class="tableCell descriptionCell" data-title="'Description'">
                            <span ng-show="!editAsset" class="tableValue">{{asset.description}}</span>
                            <div ng-show="editAsset"><input class="form-control" type="text" ng-model="asset.name"/></div>
                        </td>
                        <td class="tableCell" data-title="'US English'">
                            <div id="valueCell" ng-repeat="value in getEnglishValues(asset)">
                                <span ng-show="!editAsset" class="tableValue">{{value.string}}</span>
                                <div ng-show="editAsset"><input class="form-control" type="text" ng-model="value.string" /></div>
                            </div>
                        </td>
                        <td class="tableCell" data-title="'Spanish'">
                            <div id="valueCell" ng-repeat="value in getSpanishValues(asset)">
                                <span ng-show="!editAsset" class="tableValue">{{value.string}}</span>
                                <div ng-show="editAsset"><input class="form-control" type="text" ng-model="value.string" /></div>
                            </div>
                        </td>

                        <td class="tableCell" data-title="'Status'" >
                            <span ng-show="!editAsset" class="tableValue">{{asset.status}}</span>
                            <div ng-show="editAsset"><input class="form-control" type="text" ng-model="asset.status" /></div>
                        </td>

                        <td class="actionsCell" data-title="'Actions'" class="tableValue" ng-model="asset">
                            <div class="icons">
                                <button type="button" class="toolButton" ng-show="!editAsset" ng-click="editAsset=true">
                                    <span class="glyphicon glyphicon-edit cellGlyphicon" style="vertical-align:middle"></span>
                                </button>
                                    <a ng-show="editAsset || asset.editThisAsset" href="" class="btn btn-primary btn-xs" ng-click="saveAsset(asset); editAsset=false">Save</a>
                                <button type="button" class="toolButton" ng-click="deleteAsset(asset, false)">
                                    <span class="glyphicon glyphicon-trash red cellGlyphicon" style="vertical-align:middle"></span>
                                </button>
                                <button type="button" class="toolButton">
                                    <span class="glyphicon glyphicon-info-sign cellGlyphicon glyphBlue" style="vertical-align:middle">
                                    </span>
                                </button>
                                <span id="checkBoxButton" ng-click="updateAssetList(asset)"><input type="checkbox" id="checkBox" style="text-align:center"></span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="footerTitle">
            <img src="/assetLib/img/icons/workspaceLamp.png">
            <p>Workspace</p>
        </div>
    </div>
</div>