
.blue {
    color: blue;
}

.red {
    color: red;
}
.glyphicon {
	font-size: 1.6em;
}
.assettoolbar {
	position: fixed;
	height: 41px;
	width: 100%;
	background: white;
	border-bottom: 2px solid black;
}

#navLeft {
	margin: 5px;
	position: fixed;
	padding: 0;
	list-style: none;
}
#navLeft li {
	float: left;
	margin-right: 20px;
}

.textNav {
	margin-top: 7px;
	font-weight: bold;

}
#navCenter {
	position: fixed;
	margin-top: 2px;
    left: 42%;
	right: 42%;
	font-weight: bold;
	font-size: 1.7em;
	font-family: 'Myriad Set', sans-serif;
}

#navCenter img {
	width: 32px;
	height: 32px;
	margin-top: 0px;
}

#navRight {
	left: 63%;
	margin: 5px;
	position: fixed;
	list-style: none;
}

#navRight li {
	float: left;
	margin-right: 20px;
}



.tableToolbar {
	position: fixed;
    right: 5%;
    left: 5%;
    top: 15%;
    background-color: silver;
}

#tableBody {
	padding-top: 18%;
}

#appHeader {
	font-weight: bold;
	font-size: 1.9em;
	font-family: 'Myriad Set', sans-serif;
	font-weight: bold;
}

#appHeader h3 {
	margin: 2px;
}

#appHeader img{
	position: relative;
	width: 30px;
	height: 30px;
}

#tools {
	margin-top: 25px;
	padding: 0;
	list-style: none;
}

#tools li {
	float: left;
}

.toolButton {
	background: transparent;
	border: none;
}

#table1 thead{
	margin-left: 5;
	max-width: 80%;
	height: 480px;
	table-layout: fixed;
}

#table1 tbody {
	display: none;
}

#table2 tbody{
	margin-left: 5;
	max-width: 80%;
	height: 480px;
	overflow-y: scroll;
}

#table2 thead {
	display: none;

}

.tableCell {
	min-width: 200px;
}

.tableValue {
	width: 200px;
}

.filters {
	margin-left: 10px;
}

#checkBoxButton {
	background: transparent;
	border: none;
	width: 21px;
	height: 21px;
}



